
	* {
		margin: 0;
		padding: 0;
	}

	.navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		position: sticky;
		top: 0;
		cursor: pointer;
	}

	.background {
		background: black;
		background-blend-mode: darken;
		background-size: cover;
	}

	.nav-list {
		width: 95%;
		display: flex;
		align-items: center;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo img {
		width: 180px;
		border-radius: 50px;
	}

	.nav-list li {
		list-style: none;
		padding: 26px 30px;
	}

	.nav-list li a {
		text-decoration: none;
		color: white;
	}

	.nav-list li a:hover {
		color: grey;
	}

	.rightnav {
		width: 30%;
		text-align: right;
	}



  .tekst {
    background-color: #ef9235;
    width: 80%;
    border: 15px solid #ef9235;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    color:white;
  }

  .afstand{
    padding: 1%;
  }

  .kop{
    text-align: center;
  }

  .zwart{
    color:black;
  }

  /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 27%;
  padding: 10px;
  height: 300px;
  text-align: left; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.laatste{
  padding-left: 14.8%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.foto{
 margin: auto;
 width: 35%;

}


